APP_PORT=8080
BASE_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=golang_restful_api_todolist

JWT_SECRET=
JWT_EXPIRES_IN=24h

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

OTP_EXPIRES_IN=5m